<div class="page-header">
  <h1>User #<%= @user.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Zip code</dt>
  <dd><%= @user.zip_code %></dd>

  <dt>Email</dt>
  <dd><%= @user.email %></dd>

  <dt>Phone number</dt>
  <dd><%= @user.phone_number %></dd>

</dl>

<dt>Your Requests</dt>
<% @user.rfps.each do |rfp| %>
  <li><%= rfp.full_diamond_trait %></li>
<% end %>


<dt>Your Offers</dt>
<% @user.offers.each do |offer| %>
  <li><%= offer.full_diamond_trait %></li>
<% end %>
