<div class="page-header">
  <h1><%= @user.full_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Zip code</dt>
  <dd><%= @user.zip_code %></dd>

  <dt>Email</dt>
  <dd><%= @user.email %></dd>

  <dt>Phone number</dt>
  <dd><%= @user.phone_number %></dd>

</dl>

<h3>Your Request</h3>
<% @user.rfps.each do |rfp| %>
  <h5>Request #0000<%= rfp.id %></h5>
  <dt>Max price: <%= rfp.max_price %></dt>
  <dt>Shape: <%= rfp.shape %></dt>
  <dt>Cut: <%= rfp.cut %></dt>
  <dt>Color: <%= rfp.color %></dt>
  <dt>Clarity: <%= rfp.clarity %></dt>
  <dt>Carat: <%= rfp.carat %>
  <dt>Comment</dt>
  <dd><%= rfp.comment %></dd>
<% end %>


<h3>Offers</h3>
<% @user.offers.each do |offer| %>
  <h5>Offer #0000<%= offer.id %></h5>
  <dt>Price: <%= offer.price %></dt>
  <dt>Shape: <%= offer.shape %></dt>
  <dt>Cut: <%= offer.cut %></dt>
  <dt>Color: <%= offer.color %></dt>
  <dt>Clarity: <%= offer.clarity %></dt>
  <dt>Carat: <%= offer.carat %>
  <dt>Comment</dt>
  <dd><%= offer.comment %></dd>
<% end %>
