<div class="page-header">
  <h1>Merchant #<%= @merchant.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Business name</dt>
  <dd><%= @merchant.business_name %></dd>

  <dt>Address</dt>
  <dd><%= @merchant.address %></dd>

  <dt>City</dt>
  <dd><%= @merchant.city %></dd>

  <dt>State</dt>
  <dd><%= @merchant.state %></dd>

  <dt>Zip code</dt>
  <dd><%= @merchant.zip_code %></dd>

  <dt>Email</dt>
  <dd><%= @merchant.email %></dd>

  <dt>Phone number</dt>
  <dd><%= @merchant.phone_number %></dd>

  <dt>Image url</dt>
  <dd><%= @merchant.image_url %></dd>

</dl>
