<div class="page-header">
  <h1>Offer #<%= @offer.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Price</dt>
  <dd><%= @offer.price %></dd>

  <dt>Shape</dt>
  <dd><%= @offer.shape %></dd>

  <dt>Cut</dt>
  <dd><%= @offer.cut %></dd>

  <dt>Color</dt>
  <dd><%= @offer.color %></dd>

  <dt>Clarity</dt>
  <dd><%= @offer.clarity %></dd>

  <dt>Carat</dt>
  <dd><%= @offer.carat %></dd>

  <dt>Comment</dt>
  <dd><%= @offer.comment %></dd>

  <dt>User</dt>
  <dd><%= @offer.user_id %></dd>

  <dt>Merchant</dt>
  <dd><%= @offer.merchant_id %></dd>

  <dt>Rfp</dt>
  <dd><%= @offer.rfp_id %></dd>

</dl>
