<div class="page-header">
  <h1>Rfp #<%= @rfp.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Max price</dt>
  <dd><%= @rfp.max_price %></dd>

  <dt>Shape</dt>
  <dd><%= @rfp.shape %></dd>

  <dt>Cut</dt>
  <dd><%= @rfp.cut %></dd>

  <dt>Color</dt>
  <dd><%= @rfp.color %></dd>

  <dt>Clarity</dt>
  <dd><%= @rfp.clarity %></dd>

  <dt>Carat</dt>
  <dd><%= @rfp.carat %></dd>

  <dt>Comment</dt>
  <dd><%= @rfp.comment %></dd>

  <dt>User</dt>
  <dd><%= @rfp.user.full_name %></dd>

</dl>
